@import '../../styles/base/var.css';
@c server-url {
    @d form {
        padding: 0 20px;
        max-width: 1020px;
        margin: auto;
        @d content{
            padding: 66px 220px 100px;
            margin-top: 20px;
            width: 100%;
            background: #fff;
            -webkit-box-shadow: 0 2px 3px #eee;
            box-shadow: 0 2px 3px #eee;
            border-radius: 4px;
            margin-bottom: 20px;
            button {
                margin-top:20px;
            }
            .icon {
                text-align: center;
            }
            .project {
                label:before {
                    content: '*';
                    display: inline-block;
                    margin-right: 4px;
                    line-height: 1;
                    font-family: SimSun;
                    font-size: 12px;
                    color: #ed3f14;
                }
                .ivu-form-item-error-tip {
                    margin-top:30px;
                }
            }
        }
    }
    @d table {
        padding: 0 20px;
        max-width: 1020px;
        margin: auto;
        margin-top:20px;
        .ivu-table-body {
            overflow-x: hidden;
            overflow-y: auto;
            height: 500px;
        }
        .search {
            width:420px;
            margin-bottom: 20px;
        }
    }
    .desc {
        color:gray;
    }
}